{% extends "base.html" %}

{% block navbar %}

{% if request.user.is_superuser %}
     <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_home' %}">Dashboard</a>
    </li>
{% endif %}
{% endblock %}

{% block content %}
<div class="container mt-4">

    <h3>{{ student.nom }} {{ student.prenom }}</h3>

    <p>Moyenne : {{ moyenne }}</p>
    <p>Crédits validés : {{ credits_valides }}/{{ credits_total }}</p>

    <a href="{% url 'edit_student_grades' student.id %}" class="btn btn-warning mb-3">
            Modifier toutes les notes
    </a>

    <h4>📚 Détail par UE</h4>

{% for ue in ues %}
<div class="card mb-3">
    <div class="card-header">
        <strong>{{ ue.ue.name }}</strong> 
        | Moyenne: {{ ue.moyenne }}

        {% if ue.valide %}
            <span class="text-success">✔ Validé</span>
        {% else %}
            <span class="text-danger">✘ Non validé</span>
        {% endif %}
    </div>

    <table class="table table-bordered">
        <tr>
            <th>Cours</th>
            <th>Note</th>
            <th>Crédit</th>
        </tr>

        {% for c in ue.courses %}
        <tr>
            <td>{{ c.course.name }}</td>
            <td>{{ c.note }}</td>
            <td>{{ c.credit }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endfor %}

    <h4> Dettes</h4>
    <ul>
    {% for d in dettes %}
        <li>{{ d.name }}</li>
    {% empty %}
        <li>Aucune dette</li>
    {% endfor %}
    </ul>

</div>
{% endblock %}